[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geneHummus"]
	path = geneHummus
	url = https://github.com/ncbi-hackathons/genehummus
